<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoodEatz</title>
  <link rel="stylesheet" href="friends.component.css">
</head>
<body>

  <div class="wrapper">
    <h1>Friends</h1>

    <!-- output list -->
    <ul class="item-list">
      
    </ul>
  </div>

  <footer>
    <form class="new-item-form">
      <div class="field">
        <label>Chooes Friendship</label>
        <select id="type">
          <option value="Friend">Friend</option>
          <option value="Favorite">Favorite</option>
        </select>
      </div>
      <div class="field">
        <label>Name</label>
        <input type="text" id="tofrom">
      </div>   
      <div class="field">
        <label>Location</label>
        <input type="text" id="details">
      </div>
      <div class="field">
        <label>Favorite Food</label>
        <input type="text" id="amount">
      </div>
      <button>Add</button>
    </form>

  </footer>


  <script src='sandbox.js'></script>
</body>
</html>
